[Unit]
Description=Daemon logger service

#the service should start after the network is up.
After=network.target

[Service]
#to start the app
ExecStart=/usr/local/bin/my_program.sh


Restart=always 
User=abderlhman

[Install]
WantedBy=multi-user.target

#add this file.service to /etc/systemd/system/directory
#then run this commands to start your service : systemctl enable loggerDaemon.service   systemctl start loggerDaemon.service

